body {
  background-color: #aa0000;
  /* font-family: Verdana, Arial, "sans-serif"; */
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  width: 100%;
  text-align: center;
  padding:0px;
  margin: 0px;
  font-size:0.8em;
  line-height:150%;
  color: #2f2f2f;
}

/* Gradient transparent - color - transparent */
hr {
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(125,0,0,0), rgba(125,0,0,0.75), rgba(125,0,0,0)); 
  background-image:  -moz-linear-gradient(left, rgba(125,0,0,0), rgba(125,0,0,0.75), rgba(125,0,0,0)); 
  background-image:   -ms-linear-gradient(left, rgba(125,0,0,0), rgba(125,0,0,0.75), rgba(125,0,0,0)); 
  background-image:    -o-linear-gradient(left, rgba(125,0,0,0), rgba(125,0,0,0.75), rgba(125,0,0,0)); 
  margin: 20px 0px 20px 0px;
}

h1,
h2,
h3,
h4 {
  margin: 40px 0px 20px 0px;
  color: #990000;
}

code {
  /* color: #5c5c5c; */
  font-family: "Lucida Console", "Courier New", Monospace;
  font-weight: bold;
}

div#content {
  background-color: white;
  width: 660px;
  text-align: left;
  padding: 20px 80px 40px 80px;
  margin: 0px;
  -moz-box-shadow: 0 0 30px 5px #333;
  -webkit-box-shadow: 0 0 30px 5px #333;
}

div#logo {
  padding-bottom: 20px;
  text-align:center;
}

